<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/icon/logo/favicon.ico" type="image/x-icon"/>

  <title>{{service.name}} Admin</title>

  {{> head-stylesheet}}
</head>

{{!-- footer_fixed : footer 고정 --}}
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <!-- sidebar -->
    {{> sidebar}}
    <!-- /sidebar -->

    <!-- toolbar -->
    {{> toolbar}}
    <!-- /toolbar -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>{{{block "parent"}}}</h3>
          </div>
          {{{block "search"}}}
        </div>

        <div class="clearfix"></div>

        {{{body}}}
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        © Copyright 2018 Company, Inc. All rights reserved. Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<!-- modal dialogs -->
{{{block "dialogs"}}}
<!-- /modal dialogs -->

{{> footer-scripts}}

</body>
</html>